{% extends 'index.html' %}

{% block content %}
    <div class="row">
    

        {% for episode in episodes %} 

                <div class="col-sm-3 col-6">
                    <p>
                        
                        <h6 class="card-title">{{episode.name}}</h6>
                        <h8> <b>Ep número</b>: {{episode.episode}} <br><b>Data</b>: {{episode.air_date}}</br>
                            <br><a href="/episode/{{episodes_id.id}}" class="btn btn-primary"
                            style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Saiba mais</a></p></br</h8>
                    </p>
                    

                </div>

        {% endfor %}

    </div>

{% endblock %}

