{% extends 'index.html' %}

{% block content %}
  <div class="row">
              
      
    {% for location in locations %} 

        <div class="col-sm-3 col-6">
            <p>
                
                <h6 class="card-title">{{location.name}}</h6>
                <h8> <b>Tipo</b>: {{location.type}} | <b>Dimensão</b>: {{location.dimension}} <br><a href="/location/{{location.id}}" class="btn btn-primary">Saiba mais</a></br</h8>
            </p>
            

        </div>

    {% endfor %}


  </div>


{% endblock %}
       
 