<head>
  <link rel="stylesheet" href="./static/menu.css">
</head>
<header>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <img src="https://i.ibb.co/X2Q3kF5/principal-removebg-preview.png" alt="">
            Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/characters">
            <img src="https://i.ibb.co/dMMrXDZ/personagens-removebg-preview.png" alt="">
            Personagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/episodes">
            <img src="https://i.ibb.co/1LS71Sq/episodes-removebg-preview.png" alt="">
            Episódios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/locations">
            <img src="https://i.ibb.co/rwNZ2sT/locations-removebg-preview-1.png" alt="">
            Localizações</a>
        </li>
      </ul>
</header>
